
:root {
 
  --color-primary: #087bff;
  --color-secondary: #6c757d;
  
  --text-dark: #343a40;
  
  --border-color: #dee2e6;
  --border-radius: 0.25rem;
  
  --padding-md: 0.5rem;
  --padding-lg: 0.75rem;
}
